<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.nativeMall">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <!-- 环信权限 -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@drawable/logo_logo"
        android:installLocation="auto"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ui.Activity.LoginActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Activity.MainActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".ui.Activity.SearchActivity"/>
        <activity android:name=".ui.Activity.GoodsDetailActivity"/>
        <activity android:name=".ui.Activity.GridDownActivity"/>
        <activity android:name=".ui.Activity.GouwucheActivity"/>
        <activity android:name=".ui.Activity.FenleiActivity"/>
        <activity android:name=".ui.Activity.EasyBuyActivity"/>
        <activity android:name=".ui.Activity.ConfirmActivity"/>
        <activity android:name=".ui.Activity.HotTopicAct"/>
        <activity android:name=".ui.Activity.DoctDateDetailAct"/>
        <activity android:name=".ui.Activity.HospDetailAct"/>
        <activity android:name=".ui.Activity.QualityAskAct"/>
        <activity android:name=".ui.Activity.DateMsgAct"/>
        <activity android:name=".ui.Activity.AddPatientAct"/>
        <activity android:name=".ui.Activity.ConfirmSickMsgAct"/>
        <activity android:name=".ui.Activity.HotTopicDetailAct"/>
        <activity android:name=".ui.Activity.QualityAskDetailAct"/>
        <activity android:name=".ui.Activity.PayActivity"/>
        <activity android:name=".ui.Activity.AddAddressActivity"/>
        <activity
            android:name=".ui.Activity.SignActivity"
            android:launchMode="singleInstance">
        </activity>
        <activity android:name=".ui.Activity.SettingActivity">
        </activity>
        <activity android:name=".ui.Activity.MyAddressActivity">
        </activity>
        <activity android:name=".ui.Activity.ChangeAddressActivity">
        </activity>
        <activity android:name=".ui.Activity.DoctInfoAct">
        </activity>
        <activity android:name=".ui.Activity.OnlineAskDoctAct">
        </activity>
        <activity android:name=".ui.Activity.HosListAct">
        </activity>
        <activity android:name=".ui.Activity.MyQuestionAct">
        </activity>
        <activity android:name=".ui.Activity.InquiryDetailAct">
        </activity>
        <activity android:name=".ui.Activity.DateSuccessAct">
        </activity>
        <activity android:name=".ui.Activity.DateListAct">
        </activity>
        <activity android:name=".ui.Activity.DateListDetailAct">
        </activity>
        <activity android:name=".ui.Activity.MyShoucangActivity">
        </activity>
        <activity android:name=".ui.Activity.InsuranceComInfoAct">
        </activity>
        <activity android:name=".ui.Activity.GeneCheckAct">
        </activity>
        <activity android:name=".ui.Activity.MedicalStoreAct">
        </activity>
        <activity android:name=".ui.Activity.InsuranceListAct">
        </activity>
        <activity android:name=".ui.Activity.ActivateCardStep1Act">
        </activity>
        <activity android:name=".ui.Activity.ActivateCardStep2Act">
        </activity>
        <activity android:name=".ui.Activity.ActivateCardStep3Act">
        </activity>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="OMGQuvGTWoUKVBdT5TQuoC4GOBacGLiW"/>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"/>

        <activity
            android:name=".ui.Activity.MyOrderActivity"
            android:launchMode="singleTask">
        </activity>
        <activity android:name=".ui.Activity.OrderDetailActivity">
        </activity>
        <activity android:name=".ui.Activity.ConfirmOrderActivity">
        </activity>
        <activity android:name=".ui.Activity.AboutActivity">
        </activity>
        <activity android:name=".ui.Activity.FedbackActivity">
        </activity>

        <service android:name=".Service.FreeAnswerService">
            <intent-filter>
                <action android:name="FreeAskResponse.service"/>
            </intent-filter>
        </service>

        <activity android:name=".ui.Activity.CheckPhoneAct"/>
        <activity android:name=".ui.Activity.MyChat"/>
        <activity android:name=".ui.Activity.ImagePreviewActivity"/>
        <activity android:name=".ui.Activity.MyHistoryActivity">
        </activity>
        <activity android:name=".ui.Activity.FenxiaoActivity">
        </activity>
        <activity android:name=".ui.Activity.MoneyActivity">
        </activity>
        <activity android:name=".ui.Activity.CodeActivity">
        </activity>
        <activity android:name=".ui.Activity.TixianActivity">
        </activity>
        <activity android:name=".ui.Activity.GetCouponsActivity">
        </activity>
        <activity android:name=".ui.Activity.CouponDetailActivity">
        </activity>
        <activity android:name=".ui.Activity.CategoryHotActivity">
        </activity>
        <activity android:name=".ui.Activity.CategoryLatestActivity">
        </activity>
        <activity android:name=".ui.Activity.CategoryRecommendActivity">
        </activity>

        <meta-data
            android:name="Mob-AppKey"
            android:value="2348ebd1213e0"/>
        <meta-data
            android:name="Mob-AppSecret"
            android:value="3b0055af2e7864201b13f6aee8a94e00"/>
    </application>

</manifest>